__pycache__/
*.pyc
.ipynb_checkpoints/

Miniconda3-*.sh

runs/
logs/
outputs/
checkpoints/

dataset/raw/
*.ckpt
*.bin

.venv/

dataset/setting_c_pharmkg/softfuse_ready/train.json
dataset/setting_c_pharmkg/e2e_infer_ready/*/train.json
dataset/setting_a/e2e_infer_ready/*/train.json
dataset/setting_d_hetionet/e2e_*_ready/train.json
dataset/setting_e_drkg/e2e_soft_support_ready/*/train.json
dataset/setting_a/noise_robustness/N4_*/train.json
dataset/setting_a/noise_robustness/N5_*/train.json
dataset/setting_a/noise_robustness/N6_*/train.json

.vscode

*:Zone.Identifier

dataset/setting_d_hetionet/raw_inventory/extracted/dhimmel-hetionet-4933ca1/hetnet/neo4j/hetionet-v1.0.db.tar.bz2
dataset/setting_d_hetionet/raw_inventory/hetionet-v1.0.0.zip

dataset/setting_e_drkg/raw_inventory/**/*.tsv
dataset/setting_e_drkg/raw_inventory/**/*.npy
dataset/setting_e_drkg/raw_inventory/**/*.tar.gz

dataset/setting_e_drkg/fuzzy_retrieval/**/*.json

dataset/setting_e_drkg/e2e_fuzzy_retrieval_ready/rgcn/train.json

dataset/setting_f_repodb/support_features/**/train_support_features.json
dataset/setting_f_repodb/soft_support/**/train_top20_soft_support_main.json
dataset/setting_f_repodb/e2e_soft_support_ready/**/*.json

dataset/setting_f_repodb/fuzzy_retrieval/**/*.json

dataset/setting_f_repodb/e2e_fuzzy_retrieval_ready/rgcn/train.json
